/* This is the main css page for the little green app*/

.footer{

border-top: 1px solid #253237;
padding: 10px;
background-color: #c5c3c6;
max-width: auto;
font-size: 10px;
text-align: center;

}

.container{

  border-top: 1px solid #253237;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;

}

.card{

  text-align: left;

}

.body{

background-color: #e8edf2;

}

header{

  align-items: center;
  text-align: center;

}

.bg-custom{

background-color: #589974;

}

.feed {
  border: 0px;
  border-radius: 5px;
  height: 25rem;
}
