/* This is the main css page for the little green app*/
:root {
  --bg: #c3b091;
  --body: #e8edf2;
  --font: #000;
  --box: #589974;
  --footer-bg: #c5c3c6;
  --border: #253237;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #090B09;
    --body: #0F1214;
    --box: #1B2322;
    --font: #BDBEBE;
    --footer-bg: #121313;
  }
}

.footer {
  border-top: 1px solid var(--border);
  padding-top: 10px;
  background-color: var(--footer-bg);
  max-width: auto;
  font-size: 10px;
}

.container {
  border-top: 1px solid var(--border);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.card {
  text-align: left;
}

.body {
  background-color: var(--body);
  color: var(--font);
}

header {
  align-items: center;
  text-align: center;
}

.bg-custom {
  background-color: var(--box);
}

.link {
  color: var(--font);
}

.feed {
  border: 0px;
  border-radius: 5px;
  height: 25rem;
}
